html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #000;
}

.mainContainer{
    width: 100vw;
    height: 80vh;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.wave{
  position: relative;
  margin: 0%;
  padding: 0;
  z-index: 0;
  bottom: 56%;
}

.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f9a826,
        0 0 80px #f9a826,
        0 0 90px #f9a826,
        0 0 100px #f9a826,
        0 0 150px #f9a826;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
    

.topContainer{
    display: flex;
}

.mainIcon{
    padding: 50px 75px;
    z-index: 1;
}

.infoContainer {
  padding-top: 70px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

h1 {
    color:white;
    font-size: 140px;
    margin: 0;
    font-family: Pathway;
    padding-top: 40px;
    padding-left: 120px;
    letter-spacing: 5px;
}

p {
    font-family: Sacramento;
    font-size: 50px;
    margin: 0;
}

.customSelect {
  align-self: center;
  padding-left: 80px;
  margin-top: 60px;
  z-index: 1;
}

:root {
    --radius: 2px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
  }

  .beers {
    --radius: 0;
    --baseFg: white;
    --baseBg: black;
    --accentFg: black;
    --accentBg: #f9a826;
  }

  select {
    font-family: Pathway;
    font-size: 20px;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--baseFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: 4px;
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
  }
  
  select:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  }
  
  select:active {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    color: var(--accentBg);
    border-color: var(--accentFg);
    background-color: var(--accentFg);
  }


