html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
}

.mainContainer{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding:0;
    color:white;
    display: flex;
    position: relative;
}

.wave{
    width: 100vw;
    position:absolute ;
    bottom:400px
}

.beerListContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2{
    align-self: flex-start;
    padding: 40px 90px;
    font-family: pathway;
    font-size: 75px;
    color: #f9a826;
    letter-spacing: 5px;
}

.beerList{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

li{
    color: white;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background:#f9a826; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:#fff; 
  }