
.beerCardContainer{
    width: 380px;
    height: 240px;
    display: flex;
    flex-direction: column;
    padding:10px;
    margin: 15px;
    font-size: 22px;
    border-radius: 15px;
    background-color: #2F2E41;
    font-family:Pathway;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.wave{
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.name, .tagline, .abv{
    color: white;
}

.name{
    font-family: Pathway;
    font-size: 30px;
}

.name:hover{
    color: #f9a826;
    cursor: pointer;
}

.title{
    display: flex;
}

@media only screen and (max-width: 570px) {

    .beerCardContainer{
        margin-right: 28px;

    }
}