@font-face {
    font-family: 'Pathway';
    src: url('./assets/Pathway.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Sacramento';
    src: url('./assets/Sacramento.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }